<%- include('header'); -%>
<%- include('navi'); -%>

<link rel="stylesheet" href="/css/page.css">

<div id="main">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/mainPart.css">
    <script src="/js/index.js"></script>
    <%- include('sidebar/leftSidebar') -%>
    <%- include('mainPart') -%>
    <%- include('sidebar/rightSidebar') -%>
</div>

<style>
    html{
        filter: grayscale(100%);
    }
</style>

<%- include('footer'); -%>