<div id="main-part">
    <div id="container">
        <%- include('ad/carousel') %>
        <%- include('game/joinRoom') %>
        <%- include('article/write') %>
        <% dat.forEach(element => { %>
        <%- include('article/preview', {art: element, username: username, uid: uid, userInfo: userInfo}); %>
        <% }); %>
    </div>
    <div class="kana-item" id="getMore">
        <a href="<%= (page!=-1)?"/page/"+String(Number(page)+1):"" %>">(｡・`ω´･)点我查看更多！</a>
    </div>
</div>