<%- include('header'); -%>
<%- include('navi'); -%>

<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/mainPart.css">
<link rel="stylesheet" href="/css/sidebar.css">

<div id="main">
    <%- include('sidebar/leftSidebar') -%>
    <%- include('user/userInfo') -%>
    <%- include('sidebar/rightSidebar') -%>
</div>

<%- include('footer'); -%>