<div id="main-part">
    <link rel="stylesheet" href="/css/user.css">
    <div id="container">
        <div class="kana-item userinfo" uid="<%= userInfo2.id %>">
            <div class="userinfo-bg"
                style="background: url('https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/user/banner/<%= userInfo2.id %>.webp!752x180');">
            </div>
            <img class="userinfo-avatar"
                src="https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/user/avatar/<%= userInfo2.id %>.webp!100x100">
            <span class="userinfo-complex">
                <a class="userinfo-name">@<%= userInfo2.username %></a>
                <% var level = ((userInfo2.exp>=28800)?6:((userInfo2.exp>=10800)?5:((userInfo2.exp>=4500)?4:((userInfo2.exp>=1500)?3:((userInfo2.exp>=200?2:((userInfo2.exp>=100)?1:0))))))); %>
                <% var next_level = ((userInfo2.exp>=28800)?userInfo2.exp:((userInfo2.exp>=10800)?28800:((userInfo2.exp>=4500)?10800:((userInfo2.exp>=1500)?4500:((userInfo2.exp>=200?1500:((userInfo2.exp>=100)?200:100))))))); %>
                <i class="userinfo-level iconfont icon-level-<%= level %>"></i>
                <span class="progress">
                    <span class="progress-bar"
                        style=<%= 'width:' +  100*userInfo2.exp/next_level + '%;' %>><%= userInfo2.exp + '/' + next_level %></span>
                </span>
            </span>
            <% if(userInfo2.id == uid) { %>
            <button class="userinfo-edit btn btn-outline-primary" type="button">编辑</button>
            <% } %>
        </div>
        <div class="userpost-container">
            <div id="userpost" class="userpost">
                <% userPost.forEach(e=>{ %>
                <%- include('../article/preview', { art: e }); %>
                <% }) %>
            </div>
            <% if(userPost.length == 10) { %>
            <div class="kana-item" id="getMore"><a
                    href="/user/<%= userInfo2.id %>/page/<%= Number(page)+1 %>">(｡・`ω´･)点我查看更多！</a></div>
            <% }else{ %>
            <div class="kana-item" id="getMore">
                <p>你已到达了世界的尽头(｡・`ω´･)！</p>
            </div>
            <% } %>
        </div>
        <div class="useredit kana-item kana-hidden">
            <form>
                <div class="custom-file">
                    <input type="file" id="avatar" name="avatar">
                    <br />
                    <input type="file" id="banner" name="banner">
                </div>
            </form>
        </div>
        <script src="/js/user.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.8/js/fileinput.min.js"
            integrity="sha256-UuD1KXKQ5hoSAWBOxd2WpsVP9e/bn39NcykluxZ33k8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.8/js/locales/zh.js"
            integrity="sha256-UTeHlHcrnQmuj0iKTRWTllAlTqhMiSjSUemZK19uviE=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.8/themes/fa/theme.min.js"
            integrity="sha256-SmLLmNRLcHXotLGuPqli9SgjCyKg/DuHUP/MEuRX2G8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.0.8/css/fileinput.min.css"
            integrity="sha256-nDOFy4ryARCIxp1SMEp7+mGQZd7V74BnsrcDfV92qD8=" crossorigin="anonymous">
    </div>
</div>