<div id="main-part">
    <link rel="stylesheet" href="/css/user.css">
    <div id="container">
        <div class="kana-item userinfo" uid="<%= userInfo2.id %>">
            <div class="userinfo-bg"
                style="background: url('https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/user/banner/<%= userInfo2.id %>.webp!752x180');">
            </div>
            <img class="userinfo-avatar"
                src="https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/user/avatar/<%= userInfo2.id %>.webp!100x100">
            <span class="userinfo-complex">
                <a class="userinfo-name">@<%= userInfo2.username %></a>
                <% var level = ((userInfo2.exp>=28800)?6:((userInfo2.exp>=10800)?5:((userInfo2.exp>=4500)?4:((userInfo2.exp>=1500)?3:((userInfo2.exp>=200?2:((userInfo2.exp>=100)?1:0))))))); %>
                <% var next_level = ((userInfo2.exp>=28800)?userInfo2.exp:((userInfo2.exp>=10800)?28800:((userInfo2.exp>=4500)?10800:((userInfo2.exp>=1500)?4500:((userInfo2.exp>=200?1500:((userInfo2.exp>=100)?200:100))))))); %>
                <i class="userinfo-level iconfont icon-level-<%= level %>"></i>
                <span class="progress">
                    <span class="progress-bar"
                        style=<%= 'width:' +  100*userInfo2.exp/next_level + '%;' %>><%= userInfo2.exp + '/' + next_level %></span>
                </span>
            </span>
            <% if(userInfo2.id == uid) { %>
            <button class="userinfo-edit btn btn-outline-primary" type="button">编辑</button>
            <% } %>
        </div>
        <div class="userpost-container">
            <div id="userpost" class="userpost">
                <% userPost.forEach(e=>{ %>
                <%- include('../article/preview', { art: e }); %>
                <% }) %>
            </div>
            <% if(userPost.length == 10) { %>
            <div class="kana-item" id="getMore"><a
                    href="/user/<%= userInfo2.id %>/page/<%= Number(page)+1 %>">(｡・`ω´･)点我查看更多！</a></div>
            <% }else{ %>
            <div class="kana-item" id="getMore"><a href>你已到达了世界的尽头(｡・`ω´･)！</a></div>
            <% } %>
        </div>
        <div class="useredit kana-item kana-hidden">
            <form>
                <div class="custom-file">
                    <input type="file" id="avatar" name="avatar">
                    <br />
                    <input type="file" id="banner" name="banner">
                </div>
            </form>
        </div>
        <script src="/js/user.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.0.8/js/fileinput.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.0.8/js/locales/zh.min.js"></script>
        <script>!function (a) { "use strict"; a.fn.fileinputThemes.fa = { fileActionSettings: { removeIcon: '<i class="fa fa-trash"></i>', uploadIcon: '<i class="fa fa-upload"></i>', uploadRetryIcon: '<i class="fa fa-repeat"></i>', downloadIcon: '<i class="fa fa-download"></i>', zoomIcon: '<i class="fa fa-search-plus"></i>', dragIcon: '<i class="fa fa-arrows"></i>', indicatorNew: '<i class="fa fa-plus-circle text-warning"></i>', indicatorSuccess: '<i class="fa fa-check-circle text-success"></i>', indicatorError: '<i class="fa fa-exclamation-circle text-danger"></i>', indicatorLoading: '<i class="fa fa-hourglass text-muted"></i>', indicatorPaused: '<i class="fa fa-pause text-info"></i>' }, layoutTemplates: { fileIcon: '<i class="fa fa-file kv-caption-icon"></i> ' }, previewZoomButtonIcons: { prev: '<i class="fa fa-caret-left fa-lg"></i>', next: '<i class="fa fa-caret-right fa-lg"></i>', toggleheader: '<i class="fa fa-fw fa-arrows-v"></i>', fullscreen: '<i class="fa fa-fw fa-arrows-alt"></i>', borderless: '<i class="fa fa-fw fa-external-link"></i>', close: '<i class="fa fa-fw fa-remove"></i>' }, previewFileIcon: '<i class="fa fa-file"></i>', browseIcon: '<i class="fa fa-folder-open"></i>', removeIcon: '<i class="fa fa-trash"></i>', cancelIcon: '<i class="fa fa-ban"></i>', pauseIcon: '<i class="fa fa-pause"></i>', uploadIcon: '<i class="fa fa-upload"></i>', msgValidationErrorIcon: '<i class="fa fa-exclamation-circle"></i> ' } }(window.jQuery);</script>
        <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-fileinput/5.0.8/css/fileinput.min.css" rel="stylesheet">
    </div>
</div>