<% let ads = [
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/gg-shh-7.21-7.31.png', link: 'http://wenhao801.com/Mr_Wu.html', text: '% Mr_Wu', expire: new Date(2020, 7, 31, 20, 17)},
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/gg2020.7.21-2020.8.20.jpg', link: 'https://www.luogu.com.cn/blog/jwcubgiy/', text: 'Penguins 的博客', expire: new Date(2020, 8, 21, 18, 30)},
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/gg1.png', link: 'tencent://Message/?Uin=2051261534', expire: new Date(2333, 1, 1, 0, 0)},
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/bh-7.23-7.25%25tw-zkd.jpg', link: 'https://kana.byha.top:444/user/508', text: '热烈祝贺我站用户考上中科大少年班', expire: new Date(2020, 7, 25, 23, 59)},
] 
  let t = [];
  for(let i = 0;i<ads.length;++i){
    if(ads[i].expire < new Date()){continue;}
    t.push(ads[i]);
  }
  ads = t;
  ads.sort(function(){ return 0.5 - Math.random() });
%> 
<div id="carousel-ad" class="carousel slide carousel-fade kana-item" data-ride="carousel">
  <ol class="carousel-indicators">
    <% for (let i = 0; i < ads.length; i++) { %>
      <li data-target="#carousel-ad" data-slide-to="<%= i %>" <%= i==0?"class=active":"" %>></li>
    <% } %>
  </ol>
  <div class="carousel-inner">
    
      <% for (let i = 0; i < ads.length; i++) { %>
        <div class="carousel-item <%= i==0?"active":"" %>" onclick="window.open('<%= ads[i].link %>')" style="background: url(<%= ads[i].url %>) , url(https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/background.png)">
          <% if(ads[i].text != undefined) { %>
            <div class="carousel-caption d-none d-md-block">
              <h3><%= ads[i].text %> </h3>
            </div>
          <% } %>  
        </div>
      <% } %>
    
  </div>
  <a class="carousel-control-prev" href="#carousel-ad" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel-ad" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
