<% let ads = [
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/gg2.png', link: 'https://kana.byha.top:444/user/3'},
  {url: 'https://kana-1252071452.cos.ap-shanghai.myqcloud.com/img/carousel/gg1.png', link: 'tencent://Message/?Uin=2051261534'},
] %> 

<div id="carousel-ad" class="carousel slide carousel-fade kana-item" data-ride="carousel">
  <ol class="carousel-indicators">
    <% for (let i = 0; i < ads.length; i++) { %>
      <li data-target="#carousel-ad" data-slide-to="<%= i %>" <%= i==0?"class=active":"" %>></li>
    <% } %>
  </ol>
  <div class="carousel-inner">
    
      <% for (let i = 0; i < ads.length; i++) { %>
        <div class="carousel-item <%= i==0?"active":"" %>" onclick="window.open('<%= ads[i].link %>')" style="background: url(<%= ads[i].url %>)">
        </div>
      <% } %>
    
    
  </div>
  <a class="carousel-control-prev" href="#carousel-ad" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carousel-ad" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
